<hr/>
    <div id="credits">
      Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
      from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
      is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
    </div>

    <div id="copyright">
      Project &quot;<a href="http://supernova.ws"><span id="supernova_ws">TicTacToe</span></a>&quot; <!-- Rel<span>ease {D_SN_RELEASE} V</span>{D_SN_VERSION} --> &copy; <span>201</span><span>5 Go</span>rlum<br />
    </div>

    <div id="debug" style="text-align: left"></div>
    <script type="application/javascript">
//      document_ready();
//      jQuery(document).ready(function () {
//        jQuery('.benchmark').append(', JS run: ' + ((new Date().valueOf() - timeBrowser.valueOf()) / 1000) + 's');
//      });
    </script>
  </body>
</html>
