<script type="text/javascript">
  $.extend(l, {
    error_wrong_turn: '{LA_error_wrong_turn}',
    message_player: {
// ECMA6 - WHERE ARE YOU?!
//      [PLAYER_LOCAL]: '{LA_message_player_local}',
//      [PLAYER_COMPUTER]: '{LA_message_player_computer}'
    },
    message_player_win: {
    }
  });
  l.message_player[TicTacToe.PLAYER_LOCAL] = '{LA_message_player_local}';
  l.message_player[TicTacToe.PLAYER_COMPUTER] = '{LA_message_player_computer}';
  l.message_player_win[TicTacToe.PLAYER_UNDEFINED] = '{LA_message_player_draw}';
  l.message_player_win[TicTacToe.PLAYER_LOCAL] = '{LA_message_player_win_local}';
  l.message_player_win[TicTacToe.PLAYER_COMPUTER] = '{LA_message_player_win_computer}';

  var fieldWidth = 3;
  var fieldHeight = 3;
  var winStreak = 3;
</script>

<div id="preload-01"></div>


<h2 id="gameMessage">{L_message_player_local}</h2>
<div id="pageBody">
    <div id="gameField">
    </div>

  <div id="gameControls">
    <!-- TODO - Убрать порнуху -->
    <!-- DEFINE $COMPUTER_CE = '1' -->
    <!-- DEFINE $COMPUTER_LE = '2' -->
    <!-- DEFINE $COMPUTER_LG = '3' -->

    <input type="radio" id="computerCE" value="{$COMPUTER_CE}" name="computerSkill" /> <label for="computerCE">{L_computerCE}</label><br />
    <!--<label for="computerLE">{L_computerLE}</label> <input type="radio" id="computerLE" value="{$COMPUTER_LE}" name="computerSkill" /><br />-->
    <input type="radio" id="computerLG" value="{$COMPUTER_LG}" name="computerSkill" /> <label for="computerLG">{L_computerLG}</label><br />

    <label for="mark_o">{L_input_wanna_be_zero}</label> <input type="checkbox" id="mark_o" value="1" /><br />

    <input type="button" id="game_reset" value="{L_game_reset}" /><br />
  </div>
</div>

